html, body {
  background-color: white;
  color:white;
  letter-spacing: 3px;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
}
h1 {
  padding-top: 5px;
  font-size: 5.0em;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-family: 'Staatliches', cursive;
}
h2 {
  font-size: 3.0em;
  color: white;
  font-family: 'Staatliches', cursive;
  
}
h3 {
  font-size: 2.5em;
  font-family: 'Sans-Serif';
  text-align: center;
}

.small-intro {
  background: #4e4c4c;
  padding-top: 60px;
}
#small-intro {
  width: 75%;
  font-size: 2em;
  margin: 0 auto;
  color: white;
  padding-bottom: 60px;
}
#overlay {
  background: rgba(0, 0, 0, 0.644);
  height: 500px;
  display: flex;
  left:20%;
}
.img
{
    width: 55%;
    padding-top: 15%;
    left:5%;
}
.title {
  padding-bottom: 10px;
  width: 1100px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  top: 250px;
}

#title {
  font-size: 6.5em;
  padding-bottom: 15px;
}
#qualif {
  font-size: 3em;
  color:#ff2a4a;
}
.ex-timeline {
  background:rgba(0, 0, 0, 0.644);
  background-size: cover;
  min-height: 100%;
  padding-top: 20px;
  padding-bottom: 60px;
}

.timeline {
  position: relative;
  max-width: 100%;
  list-style-type: none;
  margin: 0 auto;
  display: flex;
  left: 25%;
  padding-top: 2%;
}

.skillslist {
  width: 75%;
  font-size: 2em;
  margin: 0 auto;
  color: white;
  padding-bottom: 60px;
}

.timeline:before {
  background: #ed5565;
  content: '';
  position: absolute;
  top: 0;
  width: 5px;
  height: 100%;
  left: 10px;
}
.timeline-event {
  position: relative;
}
.timeline-event-copy {
  left: 50px;
  padding: 32px 32px 0;
  position: relative;
  top: -32px;
  width: 100%;
}
.timeline-icon {
  -moz-transition: -moz-transform 0.2s ease-in;
  -o-transition: -o-transform 0.2s ease-in;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: white;
  outline: 10px solid #ed5565;
  display: block;
  margin: 8px 8px 8px -8px;
  position: absolute;
  top: 0;
  left: 32px;
  width: 16px;
  height: 16px;
}
.timeline-thumbnail {
  background: none repeat scroll 0 0 #ed5565;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding: 8px 15px;
}

#workplace {
  font-size: 38px;
}
#jobPos {
  font-size: 25px;
}
#jobDesc {
  font-size: 20px;
  width: 50%;
}

#iconscp {
  clear: left;
  display:block;
  left: 35%;
}


.project{
  background:#4e4c4c;
  background-size: cover;
  min-height: 100%;
  padding-top: 20px;
  padding-bottom: 60px;
  left:35%;
}

.project-details {
  left: 50px;
  padding: 32px 32px 0;
  position: relative;
  top: -32px;
  width: 100%;
  left:20%;
}


.contact-section {
  background-color:rgba(0, 0, 0, 0.644);
  background-size: cover;
  height: 350px;
  padding-top: 20px;
} 
.contact-buttons {
  display: block;
  width: 100%;
  bottom: 0;
  position: relative;
  text-align: center;
}
.contact {
  top: 280px;
  position: relative;
  font-size: 70%;
  width: 140px;
  display: inline-block;
  cursor: pointer; 
  padding-bottom: 8px;
}


.btn-linkedin {
  background: #0E76A8;
  border-radius: 5px;
  color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #084461;
}
.btn-github {
  background-color: #24292e;
  border-radius: 5px;
  color: white; 
  border-width: 1px;
  border-style: solid;
  border-color: #084461;
}
.btn-google {
  background-color: #141f1f;
  border-radius: 5px;
  color: white; 
  border-width: 1px;
  border-style: solid;
  border-color: #084461;
}
.btn-facebook {
  background-color: #4267b2;
  border-radius: 5px;
  color: white; 
  border-width: 1px;
  border-style: solid;
  border-color: #084461;
}


footer {
  background-color: #4e4c4c;
  color: white;
  line-height: 20px;
  padding-top: 10px;
  padding-bottom: 5px;
  width: 100%;
  bottom: 0;
  position: relative;
  text-align: center;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#server-comments-container {
  margin-top: 20px;
}

